# Database.
# SQLAlchemy URL format: <dialect>+<driver>
# URL uses RDMBS and Driver ^^^, Username, Password, Host, Port, DB name (must match POSTGRES_DB in compose)
DATABASE_URL=postgresql+asyncpg://tranquilify:tranquilify@db:5432/tranquilify