# Database.
# SQLAlchemy URL format: <dialect>+<driver>
# URL uses RDMBS and Driver ^^^, Username, Password, Host, Port, DB name (must match POSTGRES_DB in compose)
DATABASE_URL=postgresql+asyncpg://tranquilify:tranquilify@db:5432/tranquilify

# JWT signing
JWT_SECRET_KEY=
JWT_ALGO=HS256

# Twilio (Verify API). See https://www.twilio.com/console
TWILIO_SID=
TWILIO_CLIENT_SECRET=
TRANQUILIFY_SERVICE_SID=
