# Web
fastapi # framework for api
uvicorn[standard] # Asynchronous Server Gateway Interface (ASGI) server, which serves api
pyjwt # for everything token related
twilio # for 2FA w/ SMS

# Database
sqlalchemy[asyncio] # Object-Relational Mapper (ORM) and async support
asyncpg # async PostgreSQL driver
alembic # database version control
bcrypt # password hashing

#Config
pydantic-settings # settings class and env stuff
email-validator # pydantic uses for string validation

#Rate Limiting
pyrate_limiter
fastapi_limiter